<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.xiangqian.monolithic.common.mysql.sched.mapper.TaskRecordMapper">

    <sql id="query">
        SELECT tr.id, tr.task_id, tr.`status`, tr.start_time, tr.end_time, tr.msg
        FROM sched_task_record tr
        <where>
            <if test="entity.id != null">AND tr.id = #{entity.id}</if>
            <if test="entity.taskId != null">AND tr.task_id = #{entity.taskId}</if>
            <if test="entity.status != null">AND tr.`status` = #{entity.status}</if>
            <if test="entity.startTime != null">AND tr.start_time = #{entity.startTime}</if>
            <if test="entity.endTime != null">AND tr.end_time = #{entity.endTime}</if>
            <if test="entity.msg != null">AND tr.msg = #{entity.msg}</if>
        </where>
    </sql>

    <select id="page" resultType="org.xiangqian.monolithic.common.mysql.sched.entity.TaskRecordEntity">
        <include refid="query"></include>
    </select>

    <select id="lazyList" resultType="org.xiangqian.monolithic.common.mysql.sched.entity.TaskRecordEntity">
        <include refid="query"></include>
    </select>

</mapper>
