<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.monolithic.mapper.RolePermMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.monolithic.po.RolePermPo">
        <id column="role_id" property="roleId" />
        <id column="perm_id" property="permId" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        role_id, perm_id, create_time
    </sql>

</mapper>
