<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.monolithic.mapper.SysLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.monolithic.po.SysLogPo">
        <id column="id" property="id" />
        <result column="req_ip" property="reqIp" />
        <result column="req_port" property="reqPort" />
        <result column="req_param" property="reqParam" />
        <result column="reqd_time" property="reqdTime" />
        <result column="brows_name" property="browsName" />
        <result column="brows_type" property="browsType" />
        <result column="brows_group" property="browsGroup" />
        <result column="brows_mfr" property="browsMfr" />
        <result column="brows_re" property="browsRe" />
        <result column="brows_ver" property="browsVer" />
        <result column="os_name" property="osName" />
        <result column="os_device_type" property="osDeviceType" />
        <result column="os_group" property="osGroup" />
        <result column="os_mfr" property="osMfr" />
        <result column="user_id" property="userId" />
        <result column="perm_id" property="permId" />
        <result column="exc_flag" property="excFlag" />
        <result column="exc_msg" property="excMsg" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, req_ip, req_port, req_param, reqd_time, brows_name, brows_type, brows_group, brows_mfr, brows_re, brows_ver, os_name, os_device_type, os_group, os_mfr, user_id, perm_id, exc_flag, exc_msg, create_time
    </sql>

</mapper>
