<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.xiangqian.monolithic.common.db.sys.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.xiangqian.monolithic.common.db.sys.entity.UserEntity">
        <id column="id" property="id"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="role_id" property="roleId"/>
        <result column="nickname" property="nickname"/>
        <result column="phone" property="phone"/>
        <result column="name" property="name"/>
        <result column="passwd" property="passwd"/>
        <result column="locked" property="locked"/>
        <result column="deny" property="deny"/>
        <result column="login_history" property="loginHistory"/>
        <result column="del" property="del"/>
        <result column="add_time" property="addTime"/>
        <result column="upd_time" property="updTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , tenant_id, role_id, nickname, phone, `name`, passwd, `locked`, deny, login_history, del, add_time, upd_time
    </sql>

</mapper>
