<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.xiangqian.monolithic.common.mysql.sys.mapper.LogMapper">

    <sql id="query">
        SELECT l.id, l.user_id, l.authority_id, l.`code`, l.remote_address, l.req_url, l.req_body, l.duration, l.add_time
        FROM sys_log l
        <where>
            <if test="entity.id != null">AND l.id = #{entity.id}</if>
            <if test="entity.userId != null">AND l.user_id = #{entity.userId}</if>
            <if test="entity.authorityId != null">AND l.authority_id = #{entity.authorityId}</if>
            <if test="entity.code != null">AND l.`code` = #{entity.code}</if>
            <if test="entity.remoteAddress != null">AND l.remote_address = #{entity.remoteAddress}</if>
            <if test="entity.reqUrl != null">AND l.req_url = #{entity.reqUrl}</if>
            <if test="entity.reqBody != null">AND l.req_body = #{entity.reqBody}</if>
            <if test="entity.duration != null">AND l.duration = #{entity.duration}</if>
            <if test="entity.addTime != null">AND l.add_time = #{entity.addTime}</if>
        </where>
    </sql>

    <select id="page" resultType="org.xiangqian.monolithic.common.mysql.sys.entity.LogEntity">
        <include refid="query"></include>
    </select>

    <select id="lazyList" resultType="org.xiangqian.monolithic.common.mysql.sys.entity.LogEntity">
        <include refid="query"></include>
    </select>

</mapper>
